@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic);
* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
body {
  background-color: #222222;
}
h1 {
  margin: 31px 0;
  text-align: center;
  color: #ffff;
  font-size: 48px;
}
header {
  width: 1200px;
  margin: 0 auto;
  color: white;
}
hr {
  background: white;
}
.body_Div {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-top: 10px;
}
.body_Div > input,
label {
  margin-left: 5px;
}
.code {
  margin-top: 20px;
  background-color: #303030;
  color: #ffff;
  padding: 50px;
  margin-bottom: 50px;
}
